---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Data = CollectionEntry<"blog">["data"];

// Props do layout
interface Props
  extends Pick<
    Data,
    "title" | "description" | "pubDate" | "updatedDate" | "heroImage"
  > {
  lang?: "pt" | "en";
}

const {
  lang = "pt",
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
} = Astro.props as Props;
---

<BaseLayout lang={lang} title={title} description={description}>
  <article>
    <div class="hero-image">
      {heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
    </div>

    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate
            date={pubDate}
            locale={lang === "pt" ? "pt-BR" : "en-US"}
          />
          {
            updatedDate && (
              <div class="last-updated-on">
                {lang === "pt" ? "Atualizado em " : "Last updated on "}
                <FormattedDate
                  date={updatedDate}
                  locale={lang === "pt" ? "pt-BR" : "en-US"}
                />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>

      <!-- conteúdo do post vem via <slot /> -->
      <slot />
    </div>
  </article>
</BaseLayout>
